<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.born.flicility">

    <permission
        android:name="edu.born.flicility.PRIVATE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="edu.born.flicility.PRIVATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_wizen"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_wizen_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.PhotoListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PhotoSearchActivity"
            android:parentActivityName=".activities.PhotoListActivity" />

        <receiver
            android:name=".service.NotificationReceiver"
            android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="edu.born.flicility.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>